<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ng-repeat</title>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<style type="text/css">
		td{
			width: 120px;
			height: 40px;
			border: 1px solid #ccc;
			text-align: center;
		}
	</style>
</head>
<body ng-app="app" ng-controller="main">
	
	<select ng-model="city">
	    <option value="">请选择你喜欢的城市:</option>
		<option ng-repeat="c in cityListTwo" value="{{c.value}}">{{c.name}}</option>
	</select>
	<h1>{{city}}</h1>

	<select ng-model="city1" ng-options="c.value as c.name for c in cityListTwo" >
		<option value="">请选择你旅游的城市</option>
	</select>
	<h1>{{city1}}</h1>

	<select ng-model="car" ng-options="car.model as car.brand  for car in cars">
		<option value="">请选择你喜欢的汽车品牌</option>
	</select>
	<h1>model:{{car}}</h1>

	<select ng-model="animal" ng-options="ani.nickName as ani.name for ani in loveani" >
		<option value="">请选择你喜欢的动物:</option>
	</select>
	<h1>{{animal}}</h1>
	<!-- ng-options 遍历生成option   -->
	<script type="text/javascript">

	var app = angular.module("app",[])

	app.controller("main",["$scope",($scope)=>{
		$scope.cityListTwo = [
			{name:"武汉",value:"wh"},
			{name:"北京",value:"bj"},
			{name:"上海",value:"sh"},
			{name:"东京",value:"dj"},
			{name:"杭州",value:"hz"},
		];

		$scope.cars = {
			car01 : {brand : "Ford", model : "Mustang", color : "red"},
			car02 : {brand : "Fiat", model : "500", color : "white"},
			car03 : {brand : "Volvo", model : "XC90", color : "black"}
		};
	 	
		$scope.loveani = [
			{name:"狗",id:"0",nickName:"dog"},
			{name:"猴",id:"1",nickName:"monkey"},
			{name:"鸡",id:"2",nickName:"quan"},
			{name:"猪",id:"3",nickName:"pig"},
			{name:"熊",id:"4",nickName:"bear"},
		]

	}])
	</script>
</body>
</html>