<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>自定义指令 --directives </title>
	<script type="text/javascript" src="../js/angular.min.js"></script>

</head>
<body ng-app="app" ng-controller="main">
	<div ng-repeat="l in list" style="border:1px solid #ddd;margin:10px;">
		<h1>{{l.name}}</h1>
		<b style="color:red">{{l.content}}</b><br/>
		<p>{{l.timeStamp}}</p>
		<h2>点赞数量:{{l.likerCount}}</h2>
		<h4>点赞people:
			<em ng-repeat="list in l.likerList">{{list.likerName}}</em>
		</h4>
		<liker happy="l"></liker>
	</div>
	<!-- 
	自定义指令 app.directive(name,callback)
	命名方式遵循驼峰式写法
	restrict 允许或者指定你可以用什么方法去调用 自定义指令 默认 EA
	E   element 元素名
	C   class   类名
	A   attribute 属性 
	M   注释 
	-->
	<script type="text/javascript">
	var app = angular.module("app",[])
		.controller("main",["$scope",($scope)=>{
		var list = [
			{name:'杜风',content:'今天我的心情很好,项目终于写完了,享年24岁,卒!',timeStamp:'07-20 23:59',likerCount:0,likerList:[]},
			{name:'杜风',content:'今天解决了一堆bug,心情顿时不美丽',timeStamp:'07-19 23:59',likerCount:0,likerList:[]},
			{name:'杜风',content:'项目好难啊,不想写了...',timeStamp:'07-18 23:59',likerCount:0,likerList:[]},
			{name:'杜风',content:'写项目熬夜到凌晨3点,看来我的战斗力还是很强大的',timeStamp:'07-17 23:59',likerCount:0,likerList:[]},
			{name:'杜风',content:'今天终于开启了心往已久的项目!',timeStamp:'07-16 23:59',likerCount:0,likerList:[]}
			];
		$scope.list = list;
//		$scope.like = function(l){
//			alert('like');
//		}
		}]);
		
		app.directive("liker",()=>{
			var dir = {};
			dir.restrict = "EA";
			dir.template = "<button style='color:blue' ng-click='like()'>点赞</button>";
			// 通过 content 把 l 每一条信息传入  事件
			// 建立全等  
			// 表示从外部传进来的变量content scope为对象属性  = 号表示创建一个父与子作用域可以同时共享的属性
			dir.scope = {
				happy:"="
			};
			// 获取当前指令所属的控制器的$scope
			//  link表示连接 链接到外部作用域  link为函数属性,在该函数中可以超出范围控Dom元素对象，包括绑定的各类事件，定义事件触发时执行的内容
			dir.link = function($scope){
				$scope.like = function(){
					console.log($scope.list);
					console.log($scope.content);   //每一条信息  $scope.content =  l;
					$scope.happy.likerCount++;
					$scope.happy.likerList.push({likerName:"美班"});
				}
			}
			return dir;
		})
	</script>
</body>
</html>