<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>过滤器</title>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<style type="text/css">
		table{
			margin:30px auto;
		}
		td{
			width: 120px;
			height: 40px;
			border: 1px solid #ccc;
			text-align: center;
		}

		.arrow-up{
			width:0;
			height:0;
			border:10px solid transparent;
			border-bottom:10px solid #000;
			display: inline-block;

		}
		.arrow-down{
			width:0;
			height:0;
			border:10px solid transparent;
			border-top:10px solid #000;
			display: inline-block;
		}
	</style>
</head>
<body ng-app="app" ng-controller="main">
	<input type="text" ng-model="limitCount">

	<select ng-model="selectColumn">
		<option value="firstName">姓</option>
		<option value="lastName">名</option>
		<option value="gender">性别</option>
		<option value="salary">薪水</option>
		<option value="birthday">出生日期</option>
	</select>
	<input type="checkbox" ng-model="reveserFlag"/>  <b>{{reveserFlag?"降序":"升序"}}</b>  
	<input type="text" placeholder="请输入搜索字段" ng-model="searchTxt">
	<p></p>
	<table>
		<thead>
			<td>序号</td>
			<td ng-click="sortCloumn('firstName')">姓
				<div ng-class="getClass('firstName')"></div>
			</td>
			<td ng-click="sortCloumn('lastName')">名
				<div ng-class="getClass('lastName')"></div>
			</td>
			<td ng-click="sortCloumn('gender')">性别
				<div ng-class="getClass('gender')"></div>
			</td >
			<td ng-click="sortCloumn('salary')">薪水1
				<div ng-class="getClass('salary')"></div>
			</td>
			<td>薪水2</td>
			<td ng-click="sortCloumn('birthday')">出生日期1
				<div ng-class="getClass('birthday')"></div>
			</td>
			<td>出生日期2</td>
			<td>手机号</td>
		</thead>
		<tbody>
			<tr ng-repeat="e in emp  | limitTo:limitCount
									 | orderBy:selectColumn:reveserFlag
									 | filter :filterText
			">
				<td ng-bind="{{$index}}"></td>
				<td>{{e.firstName | upper}}</td>
				<td ng-bind="e.lastName | lowercase "></td>
				<td >{{e.gender  |sex }}</td>
				<td>{{e.salary | mic:4  }}</td>
				<td ng-bind="e.salary | currency:'¥':3 "></td>
				<td>{{e.birthday  | date : 'yyyy-MM-dd' }}</td>
				<td>{{e.birthday | date: 'yy/MM/dd' }}</td>
				<td>{{e.tel  }}</td>
			</tr>
		</tbody>
	</table>

	<h1>{{msg }}</h1>
	<!-- 
	angular 官方自定义好过滤器
	|  管道符  声明过滤器
	uppercase 
	lowercase
	currency  货币
	date  日期 

	limitTo 限制数量

	orderBy  排序  默认 升序  false
	orderBy:'字段' ：升序降序 (false/true)
	默认 升序  ： false
		 降序  ： true

	orderBy:'-salary '  相反排序 
	orderBy:['salary','-birthday']
	
	filter:{'firstName':'s'}  搜索firstName 包含s 的姓 
	filter:{'子集合':string }
	filter:{$:string}  $ 表示搜索所有的子集合 


	 -->

	<script type="text/javascript">
		var app = angular.module("app",[])
			.controller("main",['$scope','$filter',($scope,$filter)=>{
				var employees = [{
						firstName: "Fang",
						lastName: "vane",
						gender: "Male",
						salary:12333.496,
						birthday:new Date('2007-7-11'),
						tel:"13812345678"   
					}, {
						firstName: "Sara",
						lastName: "rose",
						gender: "Female",
						salary:232334.23,
						birthday:new Date('1997-2-3'),
						tel:"13812345678"
					}, {
						firstName: "Mark",
						lastName: "bear",
						gender: "Male",
						salary:68000,
						birthday:new Date('1968-03-22'),
						tel:"13812345678"
					}, {
						firstName: "Pam",
						lastName: "hot",
						gender: "Male",
						salary:1234567.11,
						birthday:new Date('1986-3-4'),
						tel:"13812345678"
					},
					{
						firstName: "nie",
						lastName: "XIAOFENG",
						gender: "Male",
						salary:6680.5,
						birthday:new Date('1986-3-4'),
						tel:"13812345678"
					}
				]

				$scope.emp = employees;
				$scope.limitCount = 5;
				$scope.selectColumn = "salary";
				$scope.reveserFlag = true;
				$scope.searchTxt =  'a';


				$scope.msg  = "abcADSAae";

				$scope.msg = $filter("upper")($scope.msg);   //filter()  
				// angular.forEach(($scope.emp)=>{

				// })

				$scope.emp.forEach((item,idx)=>{
				      item.tel = $filter("tel")(item.tel,',');
				});

				$scope.filterText = function(e){   //过滤器函数
					return true;
					// return e.salary>6000&&e.salary<100000;   //true /false  
				}

				$scope.getClass = function(column){
					if($scope.selectColumn==column){
						//  给当前排序的列添加 箭头
						return $scope.reveserFlag ? "arrow-down":"arrow-up";
					}
				}

				$scope.sortCloumn = function(column){
					//  默认每一条切换点击直接以 降序排序 
					$scope.reveserFlag = ($scope.selectColumn==column)?!$scope.reveserFlag:true 
					$scope.selectColumn = column;
				}
			}])

			.filter("upper",()=>{
				return function(e){
					//  e 就是要过滤的对象
					return  e.toUpperCase();
				}
			})

			.filter("sex",()=>{
				return function(sex){
					var txt = "";
					switch(sex){
						case "Male" :
						txt = "男";
						break;
						case "Female":
						txt = "女";
						break;
						default:
						txt = "未知";
						break;
					}
					return txt;
				}
			})
			.filter("mic",()=>{
				return (e,n)=>{
					n = n || 2;
					return e.toFixed(n);   //保留多少位小数
				}
			})
			.filter("tel",()=>{
				return (e,str)=>{
					str = str || '-';
					e=e.split("");   //变为数组
					e.splice(3,0,str);   //插入的下标  
					e.splice(8,0,str);
					return e.join("");
				}
			})
	</script>
</body>
</html>